*{font-family: helvetica;margin: 0;padding: 0px;}
button{border-radius: 0px;}
h1{margin: 0}
.img-responsive{max-width: 100%;}
.container{max-width: 80%}

$BlueDarkest: rgb(41,35,92);
$BlueDark: rgb(11,81,161);
$BlueLight: rgb(98,158,202);
$GrayLight: rgb(245,245,245);





//// start of page layout /////





.navigation {
    position: relative;
    z-index: 2;
    height: 120px;
    background-color: #fff;
    box-shadow: 0px 4px 15px #ccc;
    .container {
       padding-top: 20px;
    }
}

.left {
    display: flex;
    align-items: center;
    img {
        display: inline-block;
        height: 4em;
    }
    h1{
        display: inline-block;
        font-size: 50px;
        font-weight: 800;
        color: $BlueLight;
        
        .dark{
            color: $BlueDark;
        }
    }  
}

.right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
     .nav-contact{
         h2 {
            font-size: 1em;
            font-weight: 800;
        }
        button {
            display: flex;
            width:100%;
            background-color: $BlueDark;
            color: #fff;
            justify-content: center;
            align-items: center;
            font-size: 1.4em;
            font-weight: 600;
            img {
                display: inline;
                height: 50px;
                width: 50px;
            }
        }
    }
}

.hero {
    .row{
        background-image: url(Links/webuy-banner.jpg);
        background-repeat: no-repeat;
        background-size:cover;
        background-position: center center;
        min-height: 500px;
        display: flex;
        align-items: center;
        .hero-text {
            padding: 20px 20px;
            h3{
            color: $BlueDarkest;
            font-size: 3.0vmin;
            font-weight: 800;
            margin-bottom: 25px;
            }
        li {
            list-style-type: none;
            text-indent: -42px;
            font-size: 2.3vmin;
            margin-left: 35px;
            line-height: 2.2em;
        }
        li:before {
            content: '✔';
            color: $BlueLight;
            font-size: 2em;
        }
      }
    .hero-img {    
        min-height: 450px;
        #five{
        height: 170px;
        position: absolute;
        top: 30px;
        right: 50px;
        }
        #trust {
        height: 150px;
        position: absolute;
        bottom: 30px;
        right: 50px;
        }
     }
  }
}

.input-form {
    background-color: $BlueLight;
    font-size: .90em;
    .input-bar{
        height: 90px;
        display: flex;
        align-items: center;
        padding: 0px;
        h4 {
            font-size: 1.3em;
            color: #fff;
            margin: 10px auto;
            font-size: 2.3vmin;
        } 
        input {
            margin: 0px 20px;
            border: 2px $BlueDark solid;
            padding: 15px; 
        }
        button {
            background-color: $BlueDark;
            border: 2px $BlueDark solid;
            padding: 15px 20px;
            font-weight: 600;
            color: #fff;
        }
    }
}

.products {
    padding-top: 50px;
    padding-bottom: 50px;
      .row {
       .car-box {
            border-right: 1px solid #ccc;
            border-left: 1px solid #ccc;
            min-height: 500px;
           .car {
                width: 100%;
                margin-bottom: 50px;
            }
            h4{
                font-weight: 800;
                color: $BlueDark;
            }
            .flash{
                bottom:0; 
            }
            img{
                position:absolute;
                left: 0;
                bottom: 50px;
                padding: 10px;
            }
        }
        #car-center{
            border: none;
        }  
    }  
}

.header-main {
    background-color: $GrayLight;
    text-align: center;
    padding-bottom: 50px;
     h1{
        font-weight: 700;
        color: $BlueDark;
        padding: 40px;
    }
}







// start of media queries //








@media screen and ( max-width: 990px ) {
    
    .input-form {
        font-size: .8em;
        .input-bar {
            input {
                margin: 5px;
            }
        }
    }
}


@media screen and ( max-width: 767px ) {
     
.navigation {
    height: 210px;
    .left {
        display: flex;
        justify-content: center;
        padding: 10px; 
    }
    .right {
        display: block;
        text-align: center;
        }
    }
    
.hero {
    .row{
        margin: 0px;
        background-image: none;
        padding: 20px;
        .hero-img {
            background-image:url(Links/stock-photo-young-woman-drive-a-car-294232229.jpg);
            background-size: cover;
            background-position: center bottom;
            height: 400px;
            margin-bottom: 30px;
            #five {
                height: 120px;
                top: 50px;
                right: 10px;
            }
            #trust {
                height: 100px;
                bottom: 50px;
                right: 10px;
            }
        }  
    }
}

.input-form {
        height: 180px;
        align-items:center;
    .input-bar{
        justify-content: center;   
    }
    #right {
        padding-bottom: 20px;
    }
    #left h4{
        margin: 0 auto;
        font-size: 4vmin;
    }      
}    
   
.products {
        .row{
            .car-box{
                border: none;
                min-height: 450px;
                padding: 30px;
            }
            .car {
                margin-bottom: 50px;
                max-height: 300px;
                padding: 10px;
            }
            #car-left, #car-center, #car-right{
                margin: 30px 0px;  
            }
         }
     }
}



@media screen and ( max-width: 500px ) {
    
.input-form {
    font-size: .7em;
}
.products {
    .row{
        .car-box{
            min-height: 380px;
        }
        .car {
            margin-bottom: 10px;
            max-height: 300px;
            padding: 10px;
        }
    }
 }
    
.hero {
    .row{
        .hero-img {
            #five {
                height: 80px;
                top: 80px;
            }
            #trust {
                height: 80px;
                bottom: 20px;
            }
        }  
    }
}          
}

