*{font-family: helvetica;margin: 0;padding: 0px;}
button{border-radius: 0px;}
h1{margin: 0}
.img-responsive{width: 100%;}

$BlueDarkest: rgb(41,35,92);
$BlueDark: rgb(11,81,161);
$BlueLight: rgb(98,158,202);
$GrayLight: rgb(245,245,245);


//// start of page layout /////



.navigation {
    position: relative;
    z-index: 2;
    height: 120px;
    background-color: #fff;
    box-shadow: 0px 4px 15px #ccc;
    
    .container {
       padding-top: 20px;
    }
}

.left {
    display: flex;
    align-items: center;
    
    img {
        display: inline-block;
        height: 4em;
    }
    h1{
        display: inline-block;
        font-size: 50px;
        font-weight: 800;
        color: $BlueLight;
        
    .dark{
        color: $BlueDark;
            }
        }  
    }

.right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    
    .nav-contact{
        
        h2 {
            font-size: 1em;
            font-weight: 800;
        }
        
        button {
            display: flex;
            width:100%;
            background-color: $BlueDark;
            color: #fff;
            justify-content: center;
            align-items: center;
            font-size: 1em;
            
        img {
            display: inline;
            height: 45px;
            width: 45px;
            }
            
        p   {
            display: inline;
            font-size: 1.7em;
            font-weight: 600;
            margin: 5px;
            }
        }
    }
}



.hero {
    
    .row{
        background-image: url(Links/webuy-banner.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        min-height: 400px;
        display: flex;
        align-items: center;
        
        .hero-text {
            padding: 20px 20px;
            
        h3{
            color: $BlueDarkest;
            font-size: 3.2vmin;
            font-weight: 800;
            }
         }
        
        li {
            list-style-type: none;
            text-indent: -30px;
            font-size: 2.3vmin;
            margin-left: 25px;
            line-height: 2.2em;
        }
        li:before {
            content: '✔';
            color: $BlueLight;
            font-size: 2em;
        }
        
        .hero-img {
            
        min-height: 450px;
        
        #five{
            height: 200px;
            position: absolute;
            top: 20px;
            right: 40px;
        }
        
        #trust {
            height: 150px;
            position: absolute;
            bottom: 20px;
            right: 40px;
        }
        }
    }
}



.input-form {
    background-color: $BlueLight;
    font-size: .90em;
    
    .input-bar{
        height: 90px;
        display: flex;
        align-items: center;
        padding: 0px;
        
        p {
            font-size: 1.3em;
            color: #fff;
            margin: 10px auto;
            font-size: 1.5em;
        }
        
        input {
            margin: 0px 20px;
            border: 2px $BlueDark solid;
            padding: 15px;
        }
        
        button {
            background-color: $BlueDark;
            border: 2px $BlueDark solid;
            padding: 15px 20px;
            font-weight: 600;
            color: #fff;
        }
    }
}
    #left p{
        margin-right: 0px;
    }


.products {
    padding-top: 50px;
    padding-bottom: 50px;
    .row {
        padding: 60px 60px;
        height: 400px;
        
        .car-box {
            height: 350px;
            border-right: 1px solid #ccc;
            border-left: 1px solid #ccc;
            
            
    h4{
        font-weight: 800;
        color: $BlueDark;
        
    }
    
    .flash{
          bottom:0; 
    }
        
    img{
        position:absolute;
        left: 0;
        bottom: 20px;
        padding: 20px;
    }
    
    p {
               position: absolute;
    bottom: 20px;
    left: 45px;
    color: #fff;
        .bold {
            font-weight: 800;
        }
            }      
        }
        #car-center{
            border: none;
            
        }
    .car {
        width: 100%;
        margin-bottom: 50px;
    }
        
 }
}

.header-main {
    background-color: $GrayLight;
    text-align: center;
    padding: 20px;
    
    h1{
        font-weight: 700;
        color: $BlueDark;
        padding: 40px;
    }
}



// start of media queries //





@media screen and ( max-width: 990px ) {
    
    .input-form {
        font-size: .8em;
        
        .input-bar {
            align-items: center;
            padding: 0px;
            
            
            input {
                margin: 5px;
            }
        }
    }
}

@media screen and ( max-width: 768px ) {
    
   
    
    
.navigation {
    height: 210px;
    
    .left {
        display: flex;
        justify-content: center;
        padding: 10px;
        
        h1{
        }  
    }
    .right {
        display: block;
        text-align: center;
        }
    }
    
.hero {
    .row{
        margin: 0px;
        background-image: none;
        padding: 20px;
        
        .hero-img {
            background-image:url(Links/stock-photo-young-woman-drive-a-car-294232229.jpg);
            background-size: cover;
            height: 400px;
            margin-bottom: 40px;
            
        #five {
            height: 150px;
            position: absolute;
            top: 20px;
            left: 20px;
        }
        
        #trust {
            height: 120px;
            position: absolute;
            bottom: 20px;
            left: 20px;
            }
        }  
      }
    }

.input-form {
    font-size: 1em;
        display: flex;
        height: 180px;
        align-items:center;
        
         #right {
            padding-bottom: 20px;
        }
        
        #left p{
            margin: 0 auto;
        }
    
        .input-bar{
            justify-content: center;
        
        p {
       
        }
        
        input {

        }
            
        button {

        }
    }
}    
   
    .products {
        .row{
            .car-box{
                border: none;
                }
    
            .car {
                margin-bottom: 45px;
                }
            #car-left, #car-center, #car-right{
                margin: 30px 0px;
                p {
                    bottom: 30px;
                    left:80px;
                }
            }
            }
        }
    .header-main {
        margin-top: 900px;
    }
}

@media screen and ( max-width: 500px ) {
    
    .input-form {
        font-size: .7em;
        
    }
}

