@charset "UTF-8";
* {
  font-family: helvetica;
  margin: 0;
  padding: 0px; }

button {
  border-radius: 0px; }

h1 {
  margin: 0; }

.img-responsive {
  width: 100%; }

.navigation {
  position: relative;
  z-index: 2;
  height: 120px;
  background-color: #fff;
  -webkit-box-shadow: 0px 4px 15px #ccc;
  box-shadow: 0px 4px 15px #ccc; }
  .navigation .container {
    padding-top: 20px; }

.left {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }
  .left img {
    display: inline-block;
    height: 4em; }
  .left h1 {
    display: inline-block;
    font-size: 50px;
    font-weight: 800;
    color: #629eca; }
    .left h1 .dark {
      color: #0b51a1; }

.right {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }
  .right .nav-contact h2 {
    font-size: 1em;
    font-weight: 800; }
  .right .nav-contact button {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    background-color: #0b51a1;
    color: #fff;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 1em; }
    .right .nav-contact button img {
      display: inline;
      height: 45px;
      width: 45px; }
    .right .nav-contact button p {
      display: inline;
      font-size: 1.7em;
      font-weight: 600;
      margin: 5px; }

.hero .row {
  background-image: url(Links/webuy-banner.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  min-height: 400px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }
  .hero .row .hero-text {
    padding: 20px 20px; }
    .hero .row .hero-text h3 {
      color: #29235c;
      font-size: 3.2vmin;
      font-weight: 800; }
  .hero .row li {
    list-style-type: none;
    text-indent: -30px;
    font-size: 2.3vmin;
    margin-left: 25px;
    line-height: 2.2em; }
  .hero .row li:before {
    content: '✔';
    color: #629eca;
    font-size: 2em; }
  .hero .row .hero-img {
    min-height: 450px; }
    .hero .row .hero-img #five {
      height: 200px;
      position: absolute;
      top: 20px;
      right: 40px; }
    .hero .row .hero-img #trust {
      height: 150px;
      position: absolute;
      bottom: 20px;
      right: 40px; }

.input-form {
  background-color: #629eca;
  font-size: .90em; }
  .input-form .input-bar {
    height: 90px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 0px; }
    .input-form .input-bar p {
      font-size: 1.3em;
      color: #fff;
      margin: 10px auto;
      font-size: 1.5em; }
    .input-form .input-bar input {
      margin: 0px 20px;
      border: 2px #0b51a1 solid;
      padding: 15px; }
    .input-form .input-bar button {
      background-color: #0b51a1;
      border: 2px #0b51a1 solid;
      padding: 15px 20px;
      font-weight: 600;
      color: #fff; }

#left p {
  margin-right: 0px; }

.products {
  padding-top: 50px;
  padding-bottom: 50px; }
  .products .row {
    padding: 60px 60px;
    height: 400px; }
    .products .row .car-box {
      height: 350px;
      border-right: 1px solid #ccc;
      border-left: 1px solid #ccc; }
      .products .row .car-box h4 {
        font-weight: 800;
        color: #0b51a1; }
      .products .row .car-box .flash {
        bottom: 0; }
      .products .row .car-box img {
        position: absolute;
        left: 0;
        bottom: 20px;
        padding: 20px; }
      .products .row .car-box p {
        position: absolute;
        bottom: 20px;
        left: 45px;
        color: #fff; }
        .products .row .car-box p .bold {
          font-weight: 800; }
    .products .row #car-center {
      border: none; }
    .products .row .car {
      width: 100%;
      margin-bottom: 50px; }

.header-main {
  background-color: whitesmoke;
  text-align: center;
  padding: 20px; }
  .header-main h1 {
    font-weight: 700;
    color: #0b51a1;
    padding: 40px; }

@media screen and (max-width: 990px) {
  .input-form {
    font-size: .8em; }
    .input-form .input-bar {
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;
      padding: 0px; }
      .input-form .input-bar input {
        margin: 5px; } }

@media screen and (max-width: 768px) {
  .navigation {
    height: 210px; }
    .navigation .left {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center;
      padding: 10px; }
    .navigation .right {
      display: block;
      text-align: center; }
  .hero .row {
    margin: 0px;
    background-image: none;
    padding: 20px; }
    .hero .row .hero-img {
      background-image: url(Links/stock-photo-young-woman-drive-a-car-294232229.jpg);
      background-size: cover;
      height: 400px;
      margin-bottom: 40px; }
      .hero .row .hero-img #five {
        height: 150px;
        position: absolute;
        top: 20px;
        left: 20px; }
      .hero .row .hero-img #trust {
        height: 120px;
        position: absolute;
        bottom: 20px;
        left: 20px; }
  .input-form {
    font-size: 1em;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: 180px;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center; }
    .input-form #right {
      padding-bottom: 20px; }
    .input-form #left p {
      margin: 0 auto; }
    .input-form .input-bar {
      -webkit-box-pack: center;
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center; }
  .products .row .car-box {
    border: none; }
  .products .row .car {
    margin-bottom: 45px; }
  .products .row #car-left, .products .row #car-center, .products .row #car-right {
    margin: 30px 0px; }
    .products .row #car-left p, .products .row #car-center p, .products .row #car-right p {
      bottom: 30px;
      left: 80px; }
  .header-main {
    margin-top: 900px; } }

@media screen and (max-width: 500px) {
  .input-form {
    font-size: .7em; } }
